table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}

.encabezado{
    font-size: 10px;
}

.centrar-text{
	text-align: center;
}

.encabezado h6{
    margin: 4px;
}

.derecha-text{
 	text-align: right;
}

.descripcion{	
	font-size: 14px;
}
.izquierda-text{
	text-align: left;
}
.col {
  float: left;
  width: 50%;  
}
.firma{
	border-top: 1px solid black;	
	width: 180px;	
	margin: 0 auto;
}
.margen-sup{
	margin-top: 100px;
}
.app-img-thumbnail{
	 border: 1px solid black;
	 padding: 3px;
}
.contenedor{
    margin: 0px 70px;
}
.pie{
    font-size: 10px;
    margin-top: 150px;
}

.sangria{
     text-indent: 30px;
}

hr{
    margin-top: 22px;
    margin-bottom: 34px;
}
